[phases.setup]
nixPkgs = ["bun"]

[phases.install]
cmds = [
    "bun install",
    "cd examples/server && bun install"
]

[phases.build]
cmds = []

[start]
cmd = "bun run examples/server/src/index.ts"
