[phases.setup]
nixPkgs = ["bun"]

[phases.install]
cmds = ["echo 'skipping default install'"]

[phases.build]
cmds = [
    "bun install && bun run build",
    "cd examples/server && rm -rf node_modules && bun install",
    "rm -rf examples/server/node_modules/better-grpc",
    "cp -r dist examples/server/node_modules/better-grpc",
    "cp package.json examples/server/node_modules/better-grpc/"
]

[start]
cmd = "cd examples/server && bun run src/index.ts"
