name: Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  release:
    uses: photon-hq/buildspace/.github/workflows/typescript-service-release.yaml@main
    permissions:
      contents: write
      pull-requests: read
    with:
      service-name: better-grpc
      prerelease: ${{ contains(github.event.pull_request.labels.*.name, 'prerelease') }}
      github-release: ${{ contains(github.event.pull_request.labels.*.name, 'release') }}
      npm-release: ${{ contains(github.event.pull_request.labels.*.name, 'npm') }}
    secrets:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
